@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cartopia</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/main.css"/>
    <link rel="stylesheet" href="~/css/content.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar__container">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/img/logo-cartopia-main.png" alt="main__logo" class="header__main__logo nav__item__logo">
                </a>
                <div class="navbar__login nav__item__login">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);

                        <div class="navbar__login nav__item__login">
                            <a class="text-dark" asp-controller="Home" asp-action="Index" title="Welcome">Welcome @user.FirstName @user.LastName</a>
                        </div>

                        <div class="navbar__login nav__item__login">
                            <a href="@Url.Action("Index", "UserRoom")">My Cars</a>
                        </div>

                        <div class="navbar__login nav__item__login">
                            <form class="form" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="btn btn-link text-info">Logout</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="navbar__login nav__item__login">
                            <a href="@Url.Action("Login", "Account", new { returnUrl = Context.Request.Path })">Login</a>
                        </div>
                        
                        <div class="navbar__login nav__item__login">
                            <a href="@Url.Action("Register", "Account")">Register</a>
                        </div>
                    }
                </div>
            </div>

            <div class="sell-buy__container">
                <a class="buy__car__ref" href="@Url.Action("Index",  "Home")">Buy</a>
                <a class="sell__car__ref" href="@Url.Action("SalePage",  "CarItemCreator")">Sale</a>
            </div>
            <div class="buy__car__container__search">
                <!--<div class="buy__car__inner"></div>-->
            </div>
        </div>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
