@model CarListViewModel

@foreach (var car in Model.Cars)
{
    <div class="outer__carinfo__block">
        <div class="car__item__img">
            @if (car.Photo != null)
            {
                <img src="data:image/jpeg;base64, @Convert.ToBase64String(car.Photo)" alt="Car Photo" style="max-width: 100%; max-height: 100%; border-radius: 5px;" />
            }
        </div>
        <div class="items__container">
            <div class="car__info__field">@car.Name</div>
            <div class="car__info__field">Region: @car.Region</div>
            <div class="car__info__field">Year: @car.Year</div>
            <div class="car__info__field">Engine Type: @car.EngineType</div>
            <div class="car__info__field">Bodyshell: @car.Bodyshell</div>
            <div class="car__info__field">Price: @car.Price $</div>
            <div class="car__info__field">Phone Number: @car.PhoneNumber</div>
        </div>
    </div>
}

